body {
  font-family: "Lato", sans-serif;
}
.paragraph{
  align-items: center
  margin: auto 0
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width:100%
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: row;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

.container {
  justify-content: space-around;
  display: flex;
  flex-direction: column
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 50px;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  flex-direction: column
}

form label {
  font-weight: bold;
}

form div {
  display: flex;
  justify-content: space-between;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  ;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}
.grid {
  
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
}
/* -------  Media Query ------- */

@media (min-width: 480px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  .paragraph{
  align-items: center;
  margin: auto 0
}
.p2{
  flex: 1;
  padding-right: 20px;
  margin: auto 0;
  
}
.picture{
  flex: 1
}

form select,
form input {
  margin-bottom: 20px;
  width: 75px;
}



.grid{
  flex-direction:row;
 
}
.grid div{
  width:50%

}
.grid img{
  width:80%
}
  .column img{
    width: 20%;
    padding: 5px;

  }

  .last{
    flex-direction: row;
    display:flex;

    
  }

  

  .button{
    width: 100px
  }

  .column{
    flex-direction: row;
    display: flex;
    justify-content: space-around
  }

  .container{
    flex-direction: row;
    overflow: auto;
    
    
    
  }

  .logo {
    margin: 14 px 0 14px 20px;
    padding-top: 0;
    font-size: 38px
  }

  header nav ul {
    align-items: center;
  }

  .group {
    flex-direction: row;
    align-items: center;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    
  }

  form div {
    flex-direction: column;
  }

  
  

  form select,
  form input {
    
    margin-bottom: 0px;
  }
}

@media (min-width: 600px) {

form select,
form input {
  margin-bottom: 20px;
  width: 100px;
}
}

@media (min-width: 900px) {

  form select,
  form input {
    margin-bottom: 20px;
    width: 130px;
  }
  }

  @media (min-width: 1200px) {

    form select,
    form input {
      margin-bottom: 20px;
      width: 200px;
    }
    }
